* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #e5e5e5;
}
.btn {
  padding: 7px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.white-btn {
  background: #fff;
  color: #111;
}
.purple-btn {
  background: #9083d5;
  color: #fff;
}
p,
span,
a {
  font-size: 20px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}
h1 {
  font-size: 36px;
  font-weight: 900;
}
h2 {
  font-size: 32px;
  font-weight: 900;
}
h3 {
  font-size: 28px;
  font-weight: 900;
}
h4 {
  font-size: 24px;
  font-weight: 900;
}
h5,
h6 {
  font-size: 24px;
  font-weight: 700;
}

.container {
  padding: 0 100px;
}

.hero{
  display: flex;
  padding-bottom: 120px;
  padding-top: 120px;
  gap: 50px;
  /* position: relative; */
}

.hero .banner h1,
.hero .banner p {
  max-width: 650px;
}

.hero .banner {
  flex: 1;
}

.hero .banner h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 40px;
}

.hero .banner p {
  color: #111;
  letter-spacing: 2px;
}

.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 50px; */
}

.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
} 

.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }

}



/* =========================          Biography Sectio         =============================== */
.biography{
  display: flex;
  gap: 60px;
    padding-top: 40px;
  padding-bottom: 60px;
  /* flex: 1; */
}

.biography .banner{
  max-width: 650px;
}

.bio-text{
  padding-top: 80px;
}

.biography .banner h3 {
  font-weight: 700;
  letter-spacing: 3px;
}
.biography .banner p:first-child {
  font-size: 24px;
  letter-spacing: 2px;
}
